*{
    margin: 0;
    padding: 0;
  font-family:system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bannar-part{
    display: flex;
    background-color: #f9ced7;
    padding-left: 30px;
   
}
.bannar-part-1{
    display: flex;
    background-color: #fda5b3;
    padding-left: 30px;
   
}

.bannar-box{
    width: 50%;
    padding-top: 32px;
}
.bannar-title{
    color: black;
    font-size: 45px;
   
}
.bannar-discription{
    margin-top: 40px;
    font-size: 18px;
    
}
.btn{
    margin-top: 20px;
    background-color: rgb(247, 133, 91);
   
    padding: 12px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    transition: 0.4s;
}
.btn:hover{
    background-color: rgb(104, 244, 125);
    color: black;
}
.bannar-flower-box{
    width: 50%;
    padding-top: 32px;
}
.img{
    width: fit-content;
    margin-left: 60px;
    
}

.bannar-midle-part{
    margin:0 auto;
    text-align: center;
    width: 600px;
    height: 140px;
}
.bannar-midle-title{
    margin-top: 42px;
    text-align: center;
    font-size: 35px;
}
.bannar-midle-discription{
    margin-top: 12px;
    font-size: 18px;
}
.bannar-midle-box{
    margin-top: 22px;
    display: flex;
    gap: 12PX;
    padding: 0px 12px;
}
.bannar-midle-box-1{
    width: 450px;
    height: 470px;
    background-color: #f7d2e4;
    border-radius: 170px 180px 0px 0px;
}
.bannar-midle-img{
    width: fit-content;
    margin-top: 42px;
}
.link{
    text-align: center;
}
.bannar-midle-box-2{
    width: 450px;
    height: 470px;
    background-color: rgb(203, 247, 232);
    border-radius: 170px 180px 0px 0px;
}
.bannar-midle-img-2{
    width: fit-content;
    margin-top: 50px;
}
.link-2{
    margin-top: 50px;
    text-align: center;
}
.bannar-midle-box-3{
    width: 450px;
    height: 470px;
    background-color: rgb(164, 224, 254);
    border-radius: 170px 180px 0px 0px;
}
.bannar-midle-img-3{
    width: fit-content;
    margin-top: 0px;
}
.link-3{
    text-align: center;
}
.midle-head-part{
    margin-top: 70px;
}
.midle-part{
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 38px;
    width:80% ;
    margin: 0 auto;
}
.off{
    color: rgb(252, 129, 58);
}
.banner-midle-section{
    margin-top: 70px;
}
.bannar-title-1{
    padding-top: 80px;
    color: black;
    font-size: 45px;
   
}
.flowers{
    margin-top: 50px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 0 60px;
}
.flower{
    width: 250px;
    height: 280px;
    border: 2px solid black;
    border-radius:7px;
}
.flower:hover{
    border: 2px solid rgb(150, 26, 26);
}
.flower-size{
    width: 250px;
    height: 280px;
    border-radius: 9px;
}
.last-section-part{
    margin-top: 50PX;
}
.last-section{
    background-image: url("./image/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 90%;
    height:500px;
    margin: 0 auto;
}
.last-part{
    text-align: center;
   
}
.last-part-title{
    padding-top: 150px;
    font-size: 35px;
}
.last-discription{
    font-size: 18px;
}
.input{
    margin-top: 25px;
}
.input-fild{
    width: 40%;
    padding: 14px;
    font-size: 18px;
}
.footer{
    width: 100%;
    height: 350px;
    background-color: black;
    margin-bottom: 15px;
}
.footer-box{
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
.flower{
    color: rgb(250, 140, 100);
}
.footer-title{
    padding-top: 120px;
    font-size: 30px;
}
.footer-discription{
   font-size: 18px;
}
.footer-end{
    margin-top: 25px;
}